* {
  /*font-family: 'Source Code Pro', monospace;*/
  font-family: 'Rajdhani', sans-serif;
  box-sizing: border-box;
  color: #C18C5D;

/*.	font-family: 'Aldrich', sans-serif;
.	font-family: 'Cabin', sans-serif;
.	font-family: 'Kaushan Script', cursive;
.	font-family: 'Orbitron', sans-serif;
.	font-family: 'Rajdhani', sans-serif;
.	font-family: 'Ubuntu', sans-serif;*/
}

body {
  /*background-color: #404E4D;*/
  background-image: url(../images/bg2.png);
  background-size: cover;
}


.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  min-height: 600px;
}

.player-info {
  width: 100%;
  height: 40px;
}

.player {
  width: 40%;
  height: 100%;
  border-radius: 10px;
  display: inline-block;
  float: left;
  text-align: center;
  font-size: 1.4em;
}

.footer {
  width: 100%;
}

#dice-cont {
  width: 20%;
  display: inline-block;
  float: left;
}

.main-window {
  width: 100%;
  height: 500px);

}


.splash-screen {
  width: 100%;
  height: 500px;
  margin: 0;
  text-align: center;
}

.end-screen {
  display: none;
  width: 100%;
  height: 500px;
  margin: 0;
}

.board {
  display: none;
  width: 100%;
  height: 500px;
  margin: 0;
}

.gridRow {
  width: 100%;
  height: 50px;
  margin: 0;
}

.gridCell {
  /*background-color: #51616B;*/
  border-radius: 30px;
  width: 10%;
  height: 50px;
  border: 2px solid #404E4D;
  display: inline-block;
  margin: 1px auto;
  float: left;

}

.console {
  width: 50%;
  height: 100px;
  display: inline-block;
  overflow: scroll;
  font-size: 1.4em;
  background-color: rgba(27, 34, 39, 0.8);
  border-radius: 15px;
  /*margin-top: : 1%;
  padding-bottom: 1%;
  margin-bottom: 1%;*/
}


#game-buttons {
  width: 100%;

}

.p1-loc-money, .p2-loc-money {
  width: 24%;
  height: 100px;
  display: inline-block;
  overflow: scroll;
  font-size: 1.4em;
  background-color: rgba(27, 34, 39, 0.8);
  border-radius: 15px;
  margin: 0 auto;
}


button {
  border: 0;
}

select {
}

.dice-cont {
  background-color: transparent;
}

#dice-btn {
  width: 100%;
  text-align: -webkit-center;
  font-size: 1.3em;
  background-color: transparent;
}

#dice-btn:hover {
  color: white;
}

.cell-black-hole {
  /*vertical-align: middle;
  background-image: url(../images/bh.gif);*/
  background: black; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(black, #313338, #6d7377); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(black, #313338, #6d7377); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(black, #313338, #6d7377); /* For Firefox 3.6 to 15 */
  background: radial-gradient(black, #2D323A, black); /* Standard syntax */
}

.cell-time-corridor {
  /*vertical-align: middle;
  background-image: url(../images/tc.gif);*/
  background: linear-gradient(to right, #2B3338, #384952);
}
}

.cell-black-hole, .cell-time-corridor {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.splash-screen {
  font-size: 140%;

}

.end-screen {
  padding-top: 30%;
}

.player-info {
  font-size: 1.2em;

}

#player-one {
  background-color: #05575B;
  color: black;
}

#player-two {
  background-color: #975708;
  color: black;
}


#start-game, #play-again {
  display: block;
  width 40%;
  height: 50px;
  margin: 2% auto;
  background-color: grey;
  min-width: 40%;
  font-size: 1.3em;
  border-radius: 10px;
  font-weight: bold;
  color: black;
}

#start-game:hover {
  background-color: #989c9c;
  min-width: 40%;
}

input {
  /*display: block;*/
  margin: 2% auto;
  height: 8%;
  width: 40%;
  padding: 2%;
  background-color: grey;
  border: none;
  font-size: 1.3em;
  color: black;
  border-radius: 10px;
}

/*.player1-name {
  display: inline;
}

.player1-name {
  display: inline;
}*/

img {
  width: 50%;
  display: block;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

select {
  /*display: block;*/
  margin: 2% auto;
  min-width: 40%;
  background-color: grey;
  border: none;
  font-size: 1.3em;
  color: black;
  padding: 4%
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


h1 {
  text-align: center;
  font-weight: bold;
  font-family: 'Kaushan Script', cursive;
  font-size: 2.5em;
}

h3 {
  margin-left: 5px;
  font-size: 1em;
  text-align: center;
  margin: 0;
}

.footer-text {
  margin: 2px;
  text-align: center;
}

.intro {
  font-size: 1.2em;
  background-color: rgba(27, 34, 39, 0.8);
  border-radius: 15px;
  padding: 1%;
}

ul {
  list-style: none;
  margin-bottom: 5px;
}

li {
  font-size: .8em;
}
