* {
  /*font-family: 'Source Code Pro', monospace;*/
  font-family: 'Rajdhani', sans-serif;
  box-sizing: border-box;


/*.	font-family: 'Aldrich', sans-serif;
.	font-family: 'Cabin', sans-serif;
.	font-family: 'Kaushan Script', cursive;
.	font-family: 'Orbitron', sans-serif;
.	font-family: 'Rajdhani', sans-serif;
.	font-family: 'Ubuntu', sans-serif;*/
}

body {
  /*background-color: #070708;*/
  background-image: url(../images/bg1000d.png);
  /*background-size:cover;*/
  background-repeat: repeat;
}


.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  min-height: 600px;
}

.player-info {
  width: 100%;
  height: 40px;
}

.player {
  width: 40%;
  height: 100%;
  border-radius: 10px;
  display: inline-block;
  float: left;
  text-align: center;
  font-size: 1.4em;
}

.footer {
  width: 100%;
  padding-top: 5px;
}

#dice-cont {
  width: 20%;
  display: inline-block;
  float: left;
}

.main-window {
  width: 100%;
  height: 500px);

}


.splash-screen {
  width: 100%;
  height: 525px;
  margin-top: 8%;
  border-radius: 30px;
  text-align: center;
  /*overflow: hidden;*/
  font-size: 120%;
  background-color: rgba(11, 27, 36, 0.8);
  /*background-image: url(../images/bg2.png);*/
}



.board {
  display: none;
  width: 100%;
  /*height: ;*/
  margin: 0;
  /*background-color: rgba(2, 4, 6, 0.9);*/
  border-radius: 24px;
}

.gridRow {
  width: 100%;
  /*height: 50px;*/
  margin: 0;
}

.gridCell {
  /*background-color: rgba(2, 4, 6, 0.8);*/
  /*background: linear-gradient(to right, grey, blue);*/
  /*background-color: #03090c;*/
  border-radius: 20px;
  width: 10%;
  height: 50px;
  /*border: 2px solid rgba(125, 136, 141, 0.5);*/
  display: inline-block;
  background-image: url(../images/planets/p1.png);
  float: left;

}

.start_planet {
  background-image: url(../images/planets/p5.png);
}

.home_planet {
  background-image: url(../images/planets/pHome.png);
}


#game-buttons {
  width: 100%;

}

.p1-loc-money, .p2-loc-money {
  width: 24%;
  height: 100px;
  font-size: 1.2em;
  margin: 0 auto;
  padding: 10px;
}

.p1-loc-money, .p2-loc-money, .console  {
  color: rgba(5,87,91,0.6);
  background-color: rgba(2, 4, 6, 0.7);
  color: #91C2AD;
  border: 2px solid rgba(125, 136, 141, 0.5);
  border-radius: 15px;
  display: inline-block;
  overflow: scroll;
  height: 100px;
}

.console {
  width: 50%;
  font-size: 1.4em;
}

#player-one, #player-two, #dice-cont  {
  border: 2px solid rgba(125, 136, 141, 0.5);
  background-color: rgba(2, 4, 6, 0.7);
  border-radius: 10px;
  color: #91C2AD;
}


button {
  border: 0;
}


.dice-cont {
  background-color: transparent;
}

#dice-btn {
  width: 100%;
  text-align: -webkit-center;
  font-size: 1.3em;
  background-color: transparent;
  color: #91C2AD;
}

#dice-btn:hover {
  color: #0CBCB7;
}

.cell-black-hole {
  background-image: url(../images/planets/bh.png);

}

.cell-time-corridor {
  background-image: url(../images/planets/p4.png);
}


.cell-black-hole, .cell-time-corridor, .gridCell {
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  background-size: 30px 30px;
}



.end-screen {
    border: 2px solid white;
    padding-top: 100px;
    display: none;
    width: 60%;
    height: 300px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 30px;
    background-color: rgba(2, 4, 6, 0.7);
    color: #91C2AD;
    border: 2px solid rgba(125, 136, 141, 0.5);
    text-align: center;
}


.player-info {
  font-size: 1.2em;
  margin-bottom: 5px;

}




#start-game, #play-again {
  display: block;
  width 40%;
  height: 50px  ;
  margin: auto;
  background-color: transparent;
  min-width: 40%;
  font-size: 1.3em;
  border-radius: 10px;
  font-weight: bold;
  color: #91C2AD;
}

#start-game, #play-again:hover {
  color: #0CBCB7;
  min-width: 40%;
}



input {
  /*display: block;*/
  margin: 0% auto;
  height: 7%;
  width: 40%;
  padding: 2%;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #91C2AD;
  font-size: 1.3em;
  color: #91C2AD;
  border-radius: 7px;
}

/*.player1-name {
  display: inline;
}

.player1-name {
  display: inline;
}*/

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.S1, .S2 {
  max-width: 50px;
  padding-top: 20px;
  /*display: inline-block;*/
  float: left;
}

select {
  /*display: block;*/
  margin-top: 8%;
  margin-bottom: 6%;
  min-width: 25%;
  background-color: transparent;
  border: none;
  font-size: 1.3em;
  color: #91C2AD;
  padding: 4%
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


h1 {
  text-align: center;
  font-weight: bold;
  font-family: 'Kaushan Script', cursive;
  font-size: 3.5em;
  margin: 0;
  /*color: #91C2AD;*/
  color: #0CBCB7;
}

h3 {
  margin-left: 5px;
  font-size: 1em;
  /*text-align: center;*/
  margin: 0;
}

h2 {
  text-align: center;
}

.footer-text {
  margin: 2px;
  /*text-align: */
  display: inline-block;
  width: 50%;
}

.intro {
  font-size: 1.2em;
  border-radius: 15px;
  padding: 1%;
  color: #91C2AD;
  width: 80%;
  margin: auto;
  margin-bottom: 2%;
}

ul {
  list-style: none;
  margin-bottom: 5px;
  padding-left: 10px;
  margin-top: 10px;

}

li {
  font-size: .8em;
  padding: 10px;
  padding-bottom: 14%;
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #91C2AD;
    opacity: .5;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #91C2AD;
   opacity:  .5;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #91C2AD;
   opacity:  .5;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #91C2AD;
}
